<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-brand">Tungsten Network Application</div>
</nav>
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right ui-g ui-fluid" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a [routerLink]="['/concorde-mapping']" class="list-group-item list-group-item-action bg-light">Concorde
        Mapping</a>
      <a [routerLink]="['/concorde-mapping-reports']" class="list-group-item list-group-item-action bg-light">Concorde
        Mapping Reports</a>
      <a [routerLink]="['/concorde']" class="list-group-item list-group-item-action bg-light">Concorde</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper ui-g ui-fluid">
    <div class="container-fluid ui-g ui-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>