<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Login Initials">
      <button pButton type="button" label="Go"></button>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Search By Name">
      <button pButton type="button" label="Go"></button>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Search By TN#">
      <button pButton type="button" label="Go"></button>
    </div>
  </div>
</div>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <p-dropdown [options]="mapper" [(ngModel)]="selectedMapper"></p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-4">
    <p-dropdown [options]="mapStatusUI" [(ngModel)]="selectedMapStatus"></p-dropdown>
  </div>

</div>
<p-table #tt [columns]="mapGlobalGridColumns" [value]="mapGlobal" [paginator]="true" [rows]="10" sortMode="multiple"
  [responsive]="true" [loading]="loading" [autoLayout]="true" [scrollable]="true" [scrollHeight]="'350px'">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="col.width">
    </colgroup>
  </ng-template>
  <!-- <ng-template pTemplate="caption">
    <input type="text" pInputText size="50" placeholder="Global Filter"
      (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
    <i class="fa fa-search" style="margin:4px;"></i>
  </ng-template> -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
      </th>
    </tr>
    <!-- <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'vin'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
        <p-dropdown *ngSwitchCase="'ClientType'" [options]="clientTypes" [style]="{'width':'100%'}"
          (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>
        <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>
      </th>
    </tr> -->
  </ng-template>
  <ng-template pTemplate="body" let-columns="columns" let-rowData>
    <tr>
      <td *ngFor="let col of columns">
        <span class="ui-column-title">{{col.header}}</span>
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>